.btnAumentarDiminuir{
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 20px;
}
.container-demo2{
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }